<body>
<div class="register-container">
    <h2>Registracija</h2>
    <h2 class="red">{{this.errorString}}</h2>
    <form (ngSubmit)="onRegister()">
      <div class="form-group">
        <label for="username">Korisnicko ime:<span class="red">*</span></label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-group">
        <label for="password">Lozinka:<span class="red">*</span></label>
        <input type="text" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-group">
        <label for="firstName">Ime:<span class="red">*</span></label>
        <input type="text" id="firstName" name="firstName" [(ngModel)]="firstName" required>
      </div>
      <div class="form-group">
        <label for="lastName">Prezime:<span class="red">*</span></label>
        <input type="text" id="lastName" name="lastName" [(ngModel)]="lastName" required>
      </div>
      <div class="form-group">
        <label>Pol:<span class="red">*</span></label>
        <select [(ngModel)]="gender" name="gender" required>
          <option value="M">M</option>
          <option value="Ž">Ž</option>
        </select>
      </div>
      <div class="form-group">
        <label for="address">Adresa:<span class="red">*</span></label>
        <input type="text" id="address" name="address" [(ngModel)]="address" required>
      </div>
      <div class="form-group">
        <label for="phone">Broj telefona:<span class="red">*</span></label>
        <input type="tel" id="phone" name="phone" [(ngModel)]="phone" placeholder="+381" required>
      </div>
      <div class="form-group">
        <label for="email">Email:<span class="red">*</span></label>
        <input type="email" id="email" name="email" [(ngModel)]="email" required>
      </div>
      <div class="form-group">
        <label for="profileImage">Slika profila:</label>
        <input type="file" id="profileImage" (change)="onFileSelected($event)" accept="image/png,image/jpeg ">
        <img *ngIf="profileImage" [src]="getProfileImageUrl()"  style="border:2px solid black;" />
        <img *ngIf="!profileImage" [src]="getProfileImageUrl()" style="border:2px solid black;"/>
      </div>
      <div class="form-group">
        <span *ngIf="cardType">
          <img *ngIf="cardType === 'diners'" src="assets/diners.png" alt="Diners Card" width="100px" heigh="50px">
          <img *ngIf="cardType === 'mastercard'" src="assets/master.png" alt="MasterCard" width="100px" heigh="50px">
          <img *ngIf="cardType === 'visa'" src="assets/visa.png" alt="Visa Card"width="100px" heigh="50px">
        </span>
        <label for="creditCardNumber">Broj kreditne kartice:<span class="red">*</span></label>
        <input type="text" id="creditCardNumber" name="creditCardNumber" [(ngModel)]="creditCardNumber" (input)="checkCCNumber()" required>
      </div>
      <div class="form-group">
      <div class="g-recaptcha" data-sitekey="6LcsYjAqAAAAAJI1had5-XhAK2tDjmVg5WlzDP8j"></div>
      </div>
      <div>
      <span class="red"> *</span><span>Obavezna polja</span>
      </div>  
      <button type="submit">Registruj se</button>
    </form>
    <button style="background-color: red;" (click)="back()">Nazad</button>
    
  </div>
</body>