<nav class="navbar">
    <ul class="nav-list">
        <li><a href="/vlasnik" class="nav-link">Profil</a></li>
        <li><a href="/vlasnik/firme" class="nav-link">Firme</a></li>
        <li><a href="/vlasnik/zakazivanja" class="nav-link">Zakazivanja</a></li>
        <li><a href="/vlasnik/odrzavanja" class="nav-link">Odrzavanja</a></li>
    </ul>
</nav>

<div class="profile-container">
    <h2>Profil Vlasnika: {{this.loggedKorisnik.username}}</h2>
    <h3 class="error-message">{{errorString}}</h3>
    <h3 class="success-message">{{ackString}}</h3>

    <div class="profile-image-container">
        <img [src]="this.photoPath" alt="Profilna slika" class="profile-pic"/>
        <label for="photo" class="photo-label">Azuriraj sliku:</label>
        <input type="file" id="photo" (change)="onFileSelected($event)" accept="image/png,image/jpeg">
        <div *ngIf="newPhoto" class="new-photo-preview">
            <img [src]="this.newPhoto" class="profile-pic"/>
        </div>
        <button class="submit-button" (click)="onUpdatePicture()">Azuriraj profilnu sliku</button>
    </div>

    <div class="profile-details">
        <div class="form-group">
            <label for="firstName">Ime:</label>
            <input type="text" id="firstName" [(ngModel)]="this.loggedKorisnik.name">
        </div>
        <div class="form-group">
            <label for="lastName">Prezime:</label>
            <input type="text" id="lastName" [(ngModel)]="this.loggedKorisnik.lastname">
        </div>
        <div class="form-group">
            <label for="address">Adresa:</label>
            <input type="text" id="address" [(ngModel)]="this.loggedKorisnik.address">
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" [(ngModel)]="this.usedMail">
        </div>
        <div class="form-group">
            <label for="phone">Kontakt telefon:</label>
            <input type="tel" id="phone" [(ngModel)]="this.loggedKorisnik.phone">
        </div>
        <div class="form-group">
            <span *ngIf="cardType">
                <img *ngIf="cardType === 'diners'" src="assets/diners.png" alt="Diners Card" class="card-img">
                <img *ngIf="cardType === 'mastercard'" src="assets/master.png" alt="MasterCard" class="card-img">
                <img *ngIf="cardType === 'visa'" src="assets/visa.png" alt="Visa Card" class="card-img">
            </span>
            <label for="creditCardNumber">Broj kreditne kartice:</label>
            <input type="text" id="creditCardNumber" (input)="checkCCNumber()" [(ngModel)]="this.loggedKorisnik.creditCard">
        </div>
    </div>

    <button class="submit-button" (click)="onUpdateProfile()">Azuriraj podatke</button>
    <button class="logout-button" (click)="logout()">Odjavi se</button>
    <button class="submit-button" style="background-color: rgb(17, 138, 179);" (click)="promenaLoz()">Promeni lozinku</button>

</div>
