:host {
    display: block;
    width: 100%;
    height: 100%;
  }
.bground{
  background-color: rgb(221, 200, 132);
    padding: 5px;
}
.wrapper{
    background-color: white;
}
button{
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.kanvas{
    width: 800px;
    height: 600px;
}
