body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.navbar {
    background-color: #333;
    padding: 10px;
}

.nav-list {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    margin: 10px;
    padding: 0;
}

.nav-link {
    color: white;
    text-decoration: none;
    padding: 10px;
}

.container {
    max-width: 1000px;
    margin: auto;
    padding: 20px;
    background-color: #fdbf77;
}

.form-group {
    margin-bottom: 20px;
}

label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    text-align: center;
}

input[type="text"],
input[type="tel"] {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.service-list,
.comment-list {
    list-style-type: none;
    align-items: center;
    padding: 0;
}
li{
    text-align: center;
}

.stars {
    color: gold;
}

.submit-button {
    padding: 10px 20px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    width: 100%;
    margin-top: 20px;
}

.submit-button:hover {
    background-color: #555;
}

.map-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

#map {
    width: 100%;
    height: 400px;
    max-width: 1000px;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    max-width: 90%;
    text-align: center;
}

.close-button {
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50%;
    padding: 5px 10px;
    cursor: pointer;
    float: right;
}

.close-button:hover {
    background-color: #555;
}

@media (max-width: 768px) {
    .container {
        padding: 10px;
    }

    input[type="text"],
    input[type="tel"] {
        padding: 8px;
    }

    #map {
        height: 300px;
    }
}


.logout-button {
    background-color: #ff4c4c;
}
